<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.2/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Мебель</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Главная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/rss">Новости <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          О нас
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/static/help">О фирме</a>
          <a class="dropdown-item" href="/static/history">История</a>
          <a class="dropdown-item" href="/static/filosof">Философия</a>
          <a class="dropdown-item" href="/static/social">Социальная ответственность</a>
          <a class="dropdown-item" href="/static/imagination">Искусство</a>
          <a class="dropdown-item" href="/static/traditional">Традиции</a>
          <a class="dropdown-item" href="/static/auto">Автоматизация</a>
          <a class="dropdown-item" href="/static/economic">Экономика</a>
          <a class="dropdown-item" href="/static/now">Современная мебель</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/partners">Партнёры <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Сервисы <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          База данных
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/rss/new">Создать новость</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/search">Поиск</a>
          <a class="dropdown-item" href="/statistic">Статистика</a>
          <a class="dropdown-item" href="/export">Выгрузка</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/editor">Ввод</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/export/XML">XML <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="/api">API <span class="sr-only">(current)</span></a>-->
<!--      </li>-->

      <li class="nav-item active">
        <a id="authButton" class="nav-link" href="/auth">Регистрация/Авторизация<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<script>
  // Создаем функцию для выполнения запроса
  function checkLogin() {
    // Выполняем GET запрос на /checkLogin
    fetch('/checkLogin')
            .then(response => response.json())
            .then(data => {
              // Если ответ равен true, то меняем элемент на странице
              if (data === true) {
                const authButton = document.getElementById("authButton");
                authButton.href = "/logout";
                authButton.innerText = "Выйти";
              }
            })
            .catch(error => {
              console.error('Произошла ошибка:', error);
            });
  }

  // Вызываем функцию checkLogin, чтобы выполнить запрос при загрузке страницы
  checkLogin();
</script>
</body>
</html>