<!DOCTYPE HTML>
<html lang="ru" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <title>Новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->

<h1>Новостная лента</h1>
<br>
<h2>Добавленные RSS ленты</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>URL</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="url : ${urls}">
        <td th:text="${url.id}"></td>
        <td th:text="${url.url}"></td>
        <td>
            <button type="button" th:attr="onclick=|deleteUrl('${url.id}')|">Удалить</button>

        </td>
    </tr>
    </tbody>
</table>
<script>
    function deleteUrl(urlId) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/rss/urls/'+urlId, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    location.reload(); // Перезагрузка страницы после успешного удаления
                } else {
                    console.error('Ошибка при удалении ссылки:', xhr.statusText);
                }
            }
        };
        xhr.send();
    }
</script>
<hr>
<br>
<h2>Добавить новую rss ленту</h2>

<form>
    <label for="url">Ссылка на rss-ленту: </label>
    <input type="text" id="url" name="url" minlength="1" maxlength="243" required><br>
</form>

<button onclick="createRssLenta()">Добавить</button>
<script>
    function createRssLenta() {
        var url = document.getElementById("url").value;

        if (url === '') {
            alert("Ссылка не может быть пустой")
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/rss/urls", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    window.location.href = '/rss';
                } else {
                    alert("При создании rss-ленты возникла ошибка");
                }
            }
        };

        var data = JSON.stringify({
            url: url
        });
        xhr.send(data);
    }
</script>
<br>
<hr>
<a href="/rss/new"><button>СОЗДАТЬ НОВОСТЬ</button></a>
<hr>
<div th:each="news1 : ${news}">
    <h2 th:text="${news1.title}"></h2>
    <p th:text="${news1.description}"></p>
    <p>
        <a th:href="${news1.link}">Подробнее</a>
    </p>
    <p th:text="${news1.author}"></p>
    <p th:text="${news1.pubDate}"></p>
    <img th:if="${news1.imageLink}" th:src="@{${news1.imageLink}}" alt="" style="max-height: 200px;">
    <hr>
    <br>
</div>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>