<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<!--Navigation bar-->
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function (data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>История</h1>
<br>
<p>
    История мебельного производства насчитывает тысячелетия. Начиная с древних цивилизаций, люди изготавливали предметы мебели из дерева, камня и других доступных материалов. <br> С развитием технологий и улучшением производственных процессов, производство мебели стало более массовым и доступным для широких слоев населения. <br> В Средние века мебель приобретала роскошный вид, использовались высококачественные материалы, такие как драгоценные породы дерева и позолота. <br> В 19 веке промышленная революция привела к массовому производству мебели с помощью машин и новых технологий. Мебель стала доступной для широкой аудитории, и различные стили и направления в дизайне мебели начали развиваться. <br> С появлением 20 века, мебель стала играть более функциональную роль, отражая потребности современного общества. Производители постоянно внедряют новые материалы, технологии и инновации, чтобы создавать удобную и стильную мебель для каждого дома.
</p>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>