<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Современная мебель</title>
</head>
<body>
<!--Navigation bar-->
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function (data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>Современная мебель</h1>
<br>
<p>
    Современная мебель отличается стильным дизайном и функциональностью. <br>
    Она представлена в различных вариантах и материалах, чтобы соответствовать индивидуальным предпочтениям клиента. <br>
    Современная мебель также активно использует инновационные решения, такие как умный дом и встроенные мультимедийные системы. <br>
    Удобство и комфорт становятся основополагающими принципами, поэтому современная мебель обеспечивает комфортное использование и оптимизацию пространства. <br>
    Экологические аспекты также важны, поэтому современная мебель часто изготавливается из экологически чистых материалов и использует энергосберегающие технологии. <br>
    Благодаря всему этому, современная мебель становится популярным выбором для создания современных и эстетически привлекательных интерьеров.
</p>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>